<p id="notice"><%= notice %></p>

<h2>Enrolments</h2>

<table>
  <thead>
    <tr>
      <th>Class name</th>
      <th>Teacher</th>
      <th>Room</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @student.enrolled_sections.each do |enrolled_section| %>
      <% enrolled_section.times.each do |enrolled_section_times| %>
      <% building_name = enrolled_section_times.classroom.building ? enrolled_section_times.classroom.building.name : 'Void' %>
        <tr>
          <td><%= enrolled_section.teacher_subject.subject.name %></td>
          <td><%= enrolled_section.teacher_subject.teacher.first_and_last_name %></td>
          <td><%= building_name + ': ' + enrolled_section_times.classroom.room_number %></td>
          <td><%= enrolled_section_times.day %> <%= to_time_string(enrolled_section_times.start_time) %> - <%= to_time_string(enrolled_section_times.end_time) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>Available</h2>

<table>
  <thead>
    <tr>
      <th>Class name</th>
      <th>Teacher</th>
      <th>Room</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @student.available_sections.each do |available_section| %>
      <% available_section.times.each do |available_section_times| %>
      <% building_name = available_section_times.classroom.building ? available_section_times.classroom.building.name : 'Void' %>
        <tr>
          <td><%= available_section.teacher_subject.subject.name %></td>
          <td><%= available_section.teacher_subject.teacher.first_and_last_name %></td>
          <td><%= building_name + ': ' + available_section_times.classroom.room_number %></td>
          <td><%= available_section_times.day %> <%= to_time_string(available_section_times.start_time) %> - <%= to_time_string(available_section_times.end_time) %></td>
          <td><%= link_to 'Enroll', students_enroll_path(available_section), method: 'put' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>